.main-container {
    height: 100%;
    width: 100%;
    background: #c4a991;
    display: flex;
    flex-flow: column nowrap;
}

.report-container {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.report-timetable-div {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.report-timetable-table {
    border: 2px solid black;
}

.report-timetable-table-cell {
    text-align: center;
    border: 1px solid black;
}