.h1-header {
    font-size: 28px;
    font-weight: 500;
}

.h1-style {
    font-size: 24px;
    font-style: oblique;
}

.main-container {
    height: 100%;
    width: 100%;
    background: #c4a991;
    display: flex;
    flex-flow: column nowrap;
}

.report-container {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.separator-div-lg {
    height: 50px;
}

.separator-div-sm {
    height: 15px;
}

.search-container {
    padding: 10px;
}

.station-card {
    border: 1px solid black;
    height: 50px;
    background: #fff3d1;
    padding: 25px;
}

.stations-container {
    height: 20%;
    padding: 10px;
}

.out {
    display: flex;
    flex-flow: column nowrap;
}
