.button-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.create-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.h1-header {
    font-size: 28px;
    font-weight: 500;
}

.h1-style {
    font-size: 24px;
    font-style: oblique;
}

.h2-style {
    font-size: 16px;
}

.input-box {
    padding: 10px;
}

.main-container {
    height: 100%;
    width: 100%;
    background: #a9b2c2;
    display: flex;
    flex-flow: column nowrap;
}

.separator-div-lg {
    height: 50px;
}

.separator-div-md {
    height: 30px;
}

.separator-div-sm {
    height: 15px;
}

.search-container {
    padding: 10px;
}

.stations-container {
    height: 20%;
    padding: 10px;
}

.stations-div {
    background: #bbcff0;
    display: flex;
    flex-flow: column nowrap;
}

.station-card {
    background: #bbcff0;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.out {
    display: flex;
    flex-flow: column nowrap;
}