.button-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.create-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.main-container {
    height: 100%;
    width: 100%;
    background: #a9b2c2;
    display: flex;
    flex-flow: column nowrap;
}

.stations-container {
    height: 20%;
    padding: 10px;
}

.stations-div {
    background: #bbcff0;
    display: flex;
    flex-flow: column nowrap;
}

.station-card {
    background: #bbcff0;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.edited-station-card {
    background: #b5d496;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.unsaved-station-card {
    background: #dbbd9c;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}