@page
@model TrainGovernor.Pages.Lines.AddModel
@section Scripts{
    <script type="text/javascript">
        var stations = @Html.Raw(Json.Serialize(Model.Stations));
        var neighbours = @Html.Raw(Json.Serialize(Model.Neighbours));
    </script>
    <script type="module" src="~/js/Lines/Create.js" ></script>
    <script type="module" src="~/js/Shared/HTMLElements/LineRelations.js" ></script>
    <script type="module" src="~/js/Shared/Models/LineStationDTO.js" ></script>
}
@section Styles{
    <link href="~/css/Shared.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Line.css" rel="stylesheet" type="text/css" />
}

<div class="out">
    <div class="main-container">
        <h1 class="h1-header">Create new line</h1>
        <div class="input-box">
            <label for="name-input">Name</label>
            <input id="name-input" type="text" class="form-control" />
        </div>
        <div class="separator-div-md"></div>
        <div id="stat-separator" class="separator-div-md"></div>
        <div id="relations-container" class="relations-container">
        </div>
        <div class="separator-div-sm"></div>
        <div id="select-container">
        </div>
        <div class="separator-div-md"></div>
        <div class="button-container">
            <button id="save-btn" class="btn btn-success">Create</button>
            <div class="separator-div-sm"></div>
            <button id="cancel-btn" class="btn btn-danger" onclick="location.href='/Lines/Index'">Go back</button>
        </div>
    </div>
</div>