@page
@model TrainGovernor.Pages.Lines.IndexModel
@section Scripts{
    <script type="text/javascript">
        var cities = @Html.Raw(Json.Serialize(Model.Cities));
        var lines = @Html.Raw(Json.Serialize(Model.Lines));
    </script>
    <script type="module" src="~/js/Lines/Line.js" ></script>
}
@section Styles{
    <link href="~/css/Shared.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Line.css" rel="stylesheet" type="text/css" />
}

<div class="out">
    <div class="main-container">
        <h1 class="h1-style">Lines</h1>
        <div class="search-container">
            <div class="searchbar-container">
                <input id="namesearch-input" class="form-control" type="text" placeholder="Enter line name..." />
                <div class="separator-div-sm"></div>
                <select id="citysearch-input" class="form-select" >
                    <option value=-1>Search by city</option>
                    <option value=0>Show all</option>
                    @foreach (var city in Model.Cities)
                    {
                        <option value=@city.Id>@city.Name</option>
                    }
                </select>
            </div>
            <div class="separator-div-sm"></div>
            <button id="btn-search" class="btn btn-primary">Search</button>
            <button id="btn-reset" class="btn btn-danger">Reset</button>
            <button id="btn-showall" class="btn btn-info">Show all lines</button>
            <button id="btn-addnew" class="btn btn-primary" onclick="location.href='/Lines/Add'">Add new</button>
        </div>
        <div class="table-container">
            <table id="lines-table" class="table table-hover table-striped table-border-top">
                <tr>
                    <th>View/Edit</th>
                    <th>Line name</th>
                    <th>Stations</th>
                    <th>Total travel time</th>
                    <th>Starting station</th>
                    <th>Final station</th>
                </tr>
            </table>
        </div>
    </div>
</div>