@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p class="display-4 text-center">Welcome to TrainGovernor.</p>
    <p>This is a web application which allows users to manage a fictional passenger train company. Features include:</p>
    <p>&bull; Creating and editing cities</p>
    <p>&bull; Creating and editing stations</p>
    <p>&bull; Adding relations between stations</p>
    <p>&bull; Creating and managing lines</p>
    <p>&bull; Generating timetables</p>
    <br />
    <p>Page was created using:</p>
    <p>&bull; C#, .NET Core</p>
    <p>&bull; Vanilla JavaScript</p>
    <p>&bull; Entity Framework Core based on MS SQL</p>
</div>