@page
@model TrainGovernor.Pages.Stations.ListModel
@{
}

@section Styles {
    <link href="@Url.Content("~/Styles/stationsList.css")" rel="stylesheet" type="text/css" />
}

<div>
    <div class="stations-header">
        <p class="stations-title">Stacje</p>
    </div>
</div>